@use 'sass:color';
@use "./angular-material.scss";
@use "./bootstrap.scss";
@use "./colors.scss";
@use "./containers.scss";
@use "./cursores.scss";
@use "./scroll-bar.scss"; 
@use "./layout.scss";
@use "./animations.scss";
@use "./position.scss";

* {
    font-family: sans-serif;
    letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6, p, pre, hr, figure, fieldset {
    margin: 0px;
    padding: 0px;
}

input[type="file"] {
    display: none !important;
}

.readonly {
    color: black !important;
    background-color: #bbbbbb83 !important;
}

.no-selection::selection {
    background-color: transparent !important;
}    